.flex_content {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  @extend .flex_content;
  background: rgb(189, 250, 198);
  background: linear-gradient(
    106deg,
    rgba(189, 250, 198, 0.9808298319327731) 3%,
    rgba(160, 210, 169, 1) 35%,
    rgba(84, 200, 111, 1) 69%,
    rgba(66, 184, 105, 1) 79%
  );
}
