@import "base";

.img {
  @extend .flex_content;
  position: relative;
  height: 100vh;
  margin-left: 0;
  align-items: center;
  width: 60%;
  img {
    width: 98%;
  }
}

.containerForm {
  @extend .flex_content;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  margin-right: 0;
  width: 40%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -100px;
    background-color: #fff;
    width: 80%;
    min-width: 374px;
    max-width: 375px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 10px 11px -3px rgba(42, 84, 38, 1);

    h1 {
      font-size: 2.5rem;
      margin-top: 50px;
    }

    .div-email,
    .div-password {
      position: relative;
      width: 80%;
      height: 50px;
      overflow: hidden;
    }

    .div-email input,
    .div-password input {
      width: 100%;
      height: 100%;
      color: #595f6e;
      padding-top: 20px;
      border: none;
      outline: none;
    }

    label {
      position: absolute;
      bottom: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #000;
    }

    label::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -2px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid $login_color;
      transform: translateX(-100%);
      transition: transform 0.8s ease;
    }

    span {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
      font-size: 1rem;
      color: #595f6e;
    }
    input {
      &:focus + label span,
      &:valid + label span {
        transform: translateY(-150%);
        font-size: 0.8rem;
        color: $login_color;
      }

      &:focus + label::after,
      &:valid + label::after {
        transform: translateX(0%);
      }
    }

    .div-email,
    .div-password,
    button,
    .register {
      margin-top: 50px;
    }

    button {
      padding: 10px;
      width: 50%;
      border-style: none;
      border-radius: 10px;
      background-color: $login_color;
      font-size: 1.2rem;
      color: #fff;
      cursor: pointer;
      box-shadow: 0px 8px 22px -4px rgba(55, 255, 33, 1);
    }

    .register a {
      font-weight: bold;
      color: $login_color;
      text-decoration: none;
    }
  }
}

@media (max-width: 1000px) {
  .img {
    width: 100%;
    position: absolute;
    z-index: -1;
    img {
      position: absolute;
      bottom: 0;
      left: -50px;
    }
  }
  .containerForm {
    z-index: 1;
    .form {
      margin: auto;
      width: 100%;
      position: absolute;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 720px) {
  .containerForm {
    width: 90%;
    .form {
      margin: auto;
      width: 100%;
      .div-email,
      .div-password {
        width: 80%;
      }
    }
  }
}

@media (max-width: 520px) {
  .img {
    display: none;
  }
}
