@import "base";

.animation {
  @extend .flex_content;
  position: relative;
  height: 100vh;
  margin-left: 10px;
  align-items: center;
  width: 50%;
}

.containerForm {
  @extend .flex_content;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  margin-right: 10px;
  width: 40%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -100px;
    background-color: #fff;
    width: 80%;
    min-width: 374px;
    max-width: 375px;
    height: 600px;
    border-radius: 5%;
    box-shadow: 1px 10px 11px -3px rgb(22, 0, 51);

    h1 {
      font-size: 2.5rem;
      margin-top: 30px;
    }

    .div-email,
    .div-password,
    .div-name,
    .div-username,
    .div-confirm-password {
      position: relative;
      width: 80%;
      overflow: hidden;
      padding-top: 1.3rem;
    }

    input {
      width: 100%;
      height: 100%;
      color: #595f6e;
      padding-top: 20px;
      border: none;
      outline: none;
      &:focus + label span,
      &:valid + label span {
        transform: translateY(-150%);
        font-size: 0.8rem;
        color: #5026ae;
      }

      &:focus + label::after,
      &:valid + label::after {
        transform: translateX(0%);
      }
    }

    label {
      position: absolute;
      bottom: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #000;
    }

    label::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid #5026ae;
      transform: translateX(-100%);
      transition: transform 0.8s ease;
    }

    span {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
      font-size: 1rem;
      color: #595f6e;
    }

    button {
      padding: 10px;
      width: 50%;
      border-style: none;
      border-radius: 10px;
      background-color: #5026ae;
      font-size: 1.2rem;
      color: #fff;
      cursor: pointer;
      margin-top: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0px 8px 22px -4px #6f00ff;
    }

    .login a {
      font-weight: bold;
      color: #411e8b;
      text-decoration: none;
    }
  }
}

@media (max-width: 1000px) {
  .animation {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -50px;
  }
  .containerForm {
    z-index: 1;
    .form {
      margin: auto;
      width: 100%;
      position: absolute;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 720px) {
  .containerForm {
    width: 90%;
    .form {
      margin: auto;
      width: 100%;
      .div-email,
      .div-password {
        width: 80%;
      }
    }
  }
}

@media (max-width: 520px) {
  .animation {
    display: none;
  }
}
