.flex_content {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #cfc1b7,
    #d8beab,
    #e1baa0,
    #eab695,
    #f2b28b
  );
}

@mixin shadow() {
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
}
