body {
  margin: 0;
  padding: 0;
}
h1 {
  color: red;
}
.container {
  margin-top: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 70%;
  margin: auto;
  height: 100vh;
  background-image: url("../img/desert-2435404_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    border-radius: unset;
  }
}

.boardmessages {
  height: calc(100vh - 94px);
  position: relative;
  width: 100%;
  margin-top: 40px;
  min-width: 350px;
  overflow-y: scroll;
}
.boardmessages::-webkit-scrollbar {
  width: 0;
}

.name {
  position: absolute;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.726);
  color: #202020;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
  padding: 7px;
  border-radius: 20px;
  max-width: 50%;
  word-wrap: break-word;
  top: 5px;
  right: 10px;
}

.msggl {
  background-color: rgba(0, 0, 0, 0.315);
  color: #e2e1e1;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
  padding: 7px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 1.2em;
}

.usernamegl {
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.726);
  color: #202020;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
  padding: 7px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.you {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}

.you .username {
  margin: 0 10px 1px auto;
}
.you .msg {
  margin: 0 10px 30px auto;
}

.they {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.they .username {
  margin: 0 auto 1px -30px;
}
.they .msg {
  margin: 0 auto 30px -30px;
}

.formSendMessage {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: calc(50% - 45%);
}
.inputSendMessage {
  width: 93%;
  height: 30px;
  padding: 2px;
  font-size: 15px;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.315);
  color: #e2e1e1;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
}
.btntSendMessage {
  height: 35px;
  border-radius: 100%;
  position: absolute;
  bottom: 20px;
  right: 1px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.315);
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.75);
  transition: 1s;
}
.icon-send {
  content: url("../img/share_white.png");
  width: 20px;
  transition: 1s;
}
button:focus,
input:focus {
  outline: none;
}
.btntSendMessage:hover {
  background-color: #fff;
  cursor: pointer;
}

.btntSendMessage:hover .icon-send {
  content: url("../img/share_black.png");
  width: 20px;
}
